@{
    ViewData["Title"] = "Контакты";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-primary">
    <tr>
        <th>Должность, ФИО</th>
        <th>Время приема</th>
        <th>Телефон</th>
    </tr>
    <tr>
        <td><strong>МАКСИМЕНКО Игорь Олегович</strong><br />Директор</td>
        <td>
            приемная тел - 55 97 54<br />
            дежурный администратор тел - 55 69 06<br />
            каждый четверг с 8.00 до 13.00<br />
            (в кабинете директора школы)
        </td>
        <td>55 69 06</td>
    </tr>
    <tr>
        <td><strong>САВЕЛЬЕВ Юрий Витальевич</strong><br />Зам. директора по основной деятельности</td>
        <td>
            каждый четверг - с 8.00 до 13.00<br />
            (в кабинете заместителя директора по основной деятельности)
        </td>
        <td>55 82 75</td>
    </tr>
    <tr>
        <td><strong>СТАРОВОЙТОВ Александр Николаевич</strong><br />Зам. директора по АХР</td>
        <td>
            каждый четверг - с 8.00 до 13.00<br />
            (в кабинете заместителя директора школы по АХР)
        </td>
        <td>55 75 67</td>
    </tr>
</table>
<p class="mt-3">
    Электронный адрес: <a href="mailto:info@sdushor7gomel.by">info@sdushor7gomel.by</a>
</p>
